body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	background-color: #f1f1f1;
	padding-top: 160px;
}

.header-tienda {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	background-color: rgba(239, 234, 234, 0.95);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	color: #fff;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}

.logo-container {
	display: flex;
	align-items: center;
	gap: 20px;
}

.logo-container .logo-tienda {
	font-size: 24px;
	height: 100px;
}

.title-tienda {
	font-size: 30px;
	color: black;
}

.nav-tienda {
	display: flex;
	gap: 20px;
	justify-content: flex-start;
	padding: 20px;
}

.button-login {
	margin-right: -7px;
	margin-left: -30px;
	margin-bottom: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	font-size: 14px;
	background-color: transparent;
	color: #fff;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.button-logout {
	color: #fff;
	padding: 10px;
	border: none;
	background-color: transparent;
	border-radius: 8px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	margin-right: 20px;
}

.welcome-message {
	color: black;
	margin-right: -20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 20px;
}