.pagesContainer {
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  margin-top: -150px;
}

.productList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productTable {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.productTable th,
.productTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.productTable th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.productImage {
  max-width: 100px;
  height: auto;
}

.productRow:nth-child(even) {
  background-color: #f9f9f9;
}

.productRow:hover {
  background-color: #f1f1f1;
}



.editButton {
  border: 1px solid #333;
  color: black;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
}

.editButton:hover {
  background-color: #007bff;
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.deleteButton {
  border: 1px solid #333;
  color: black;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
}

.deleteButton:hover {
  background-color: #c82333;
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
